<div class="collection collection1"> 
  <div class="container">
    <div class="row">
      {%- for product in section.settings.collection.products limit: section.settings.total_products -%}
        <div class="{{ section.settings.xxl_col }} {{ section.settings.xl_col }} {{ section.settings.lg_col }} {{ section.settings.md_col }} {{ section.settings.sm_col }}">
        <div class="collection1__collection-item">
          {% assign opacity = section.settings.opacity | divided_by: 100.00 %}
          <div class="collection1__product-img collection1__product-img--{{section.settings.image_fit}}" style="background-color: {{ section.settings.background | color_modify: 'alpha', opacity }}">
            <div class="collection1__heart"><i class="far fa-heart"></i></div>
            {%- if product.images[0] != blank -%}
              <a href="{{ product.url}}" class="img-link">
                <img srcset="{%- if product.images[0].width >= 165 -%} {{ product.images[0] | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if product.images[0].width >= 360 -%}{{ product.images[0] | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if product.images[0].width >= 535 -%}{{ product.images[0] | image_url: width: 535 }} 535w,{%- endif -%}   
                    {%- if product.images[0].width >= 750 -%}{{ product.images[0] | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if product.images[0].width >= 1070 -%}{{ product.images[0] | image_url: width: 2000 }} 2000w,{%- endif -%}
                    {%- if product.images[0].width >= 1500 -%}{{ product.images[0] | image_url: width: 2000 }} 2000w,{%- endif -%} 
                    {{ product.images[0] | image_url }} {{ product.images[0].width }}w"
                  src="{{ product.images[0] | image_url: width: 1500 }}"
                  sizes="(min-width: 1100px) 2000px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                  alt="{{ product.images[0].alt | escape }}"
                  loading="lazy"
                  width="{{ product.images[0].width }}"
                  height="{{ product.images[0].height }}"
                  class="hero1__bg"
                >
              </a>
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
          <div class="collection1__product-info">
            <div class="collection1__product-details">
              {%- if section.settings.show_title == true -%}
              <span class="collection1__product-title">{{ product.title }}</span>
            {% endif %}
            {%- if section.settings.show_price == true -%}
              <span class="collection1__product-price">{{ product.price | money }}</span>
              {% endif %}
            </div>
            <div class="collection1__colors">
              <div class="collection1__color collection1__color--blue"></div>
              <div class="collection1__color collection1__color--black"></div>
            </div>
          </div>
        </div>
      </div>
    {%- endfor -%}
    </div>
  </div>
</div>














<div class="hero hero1 hero1--aligned-{{ section.settings.info_alignment }} hero1--{{ section.settings.hero_height }}">
  {%- if section.settings.image != blank -%}
    <img
      srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
        {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
        {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
        {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
        {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
        {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%} 
        {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
      src="{{ section.settings.image | image_url: width: 1500 }}"
      sizes="(min-width: 1100px) 2000px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
      alt="{{ section.settings.image.alt | escape }}"
      loading="lazy"
      width="{{ section.settings.image.width }}"
      height="{{ section.settings.image.height }}"
      class="hero1__bg"
    >
  {%- else -%}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  {%- endif -%}

  {% assign opacity = section.settings.opacity | divided_by: 100.00 %}
  <div class="hero1__content-container" style="background-color: {{ section.settings.background | color_modify: 'alpha', opacity }}">
    <div class="hero1__info">
      {%- for block in section.blocks -%}
        {% case block.type %}
          {%- when 'heading' -%}
            <h1 class="hero1__title hero1__title--{{- block.settings.title_size -}}">{{ block.settings.title | escape }}</h1>
          {%- when 'paragraph' -%}
            <p class="hero1__paragraph">{{ block.settings.paragraph | escape }}</p>
          {%- when 'button' -%}
            {%- if block.settings.button_label != blank -%}
              <a href="{{ block.settings.button_link }}" class="hero1__button" {{ block.shopify_attributes }}>{{ block.settings.button_label | escape }}</a>              
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}      
    </div>
  </div>
</div>





{% schema %}
{
  "name": "Collection Products 1",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "total_products",
      "options": [
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "8",
          "label": "8"
        },
        {
          "value": "12",
          "label": "12"
        },
        {
          "value": "16",
          "label": "16"
        }
      ],
      "default": "8",
      "label": "Total Products To Show"
    },
    {
      "type": "select",
      "id": "image_fit",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover",
      "label": "Product Image Fit"
    },
    
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#edeff5"
    },    
    {
      "type": "range",
      "id": "opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Color Opacity",
      "default": 100
    },    
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show Title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show Price",
      "default": true
    },
    
    
    
    {
      "type": "select",
      "id": "xxl_col",
      "options": [
        {
          "value": "col-xxl-6",
          "label": "2 Columns"
        },
        {
          "value": "col-xxl-4",
          "label": "3 Columns"
        },
        {
          "value": "col-xxl-3",
          "label": "4 Columns"
        },
        {
          "value": "col-xxl-2",
          "label": "6 Columns"
        }
      ],
      "default": "col-xxl-3",
      "label": "XXL Devices"
    },
    {
      "type": "select",
      "id": "xl_col",
      "options": [
        {
          "value": "col-xl-6",
          "label": "2 Columns"
        },
        {
          "value": "col-xl-4",
          "label": "3 Columns"
        },
        {
          "value": "col-xl-3",
          "label": "4 Columns"
        },
        {
          "value": "col-xl-2",
          "label": "6 Columns"
        }
      ],
      "default": "col-xl-3",
      "label": "Extra Large Devices"
    },
    {
      "type": "select",
      "id": "lg_col",
      "options": [
        {
          "value": "col-lg-6",
          "label": "2 Columns"
        },
        {
          "value": "col-lg-4",
          "label": "3 Columns"
        },
        {
          "value": "col-lg-3",
          "label": "4 Columns"
        },
        {
          "value": "col-lg-2",
          "label": "6 Columns"
        }
      ],
      "default": "col-lg-3",
      "label": "Large Devices"
    },
    {
      "type": "select",
      "id": "md_col",
      "options": [
        {
          "value": "col-md-6",
          "label": "2 Columns"
        },
        {
          "value": "col-md-4",
          "label": "3 Columns"
        },
        {
          "value": "col-md-3",
          "label": "4 Columns"
        },
        {
          "value": "col-md-2",
          "label": "6 Columns"
        }
      ],
      "default": "col-md-3",
      "label": "Medium Devices"
    },
    {
      "type": "select",
      "id": "sm_col",
      "options": [
        {
          "value": "col-sm-6",
          "label": "2 Columns"
        },
        {
          "value": "col-sm-4",
          "label": "3 Columns"
        },
        {
          "value": "col-sm-3",
          "label": "4 Columns"
        },
        {
          "value": "col-sm-2",
          "label": "6 Columns"
        }
      ],
      "default": "col-sm-3",
      "label": "Small Devices"
    }
  ],
  "presets": [
    {
      "name": "Collection Products 1"
    }
  ]
}
{% endschema %}
